<svg viewBox="0 0 450 600">
	<use xlink:href="#svg_cake" class="svg__color--vanilla"></use>
	<use xlink:href="#svg_holder_striped" class="svg__color--white"></use>
	<use xlink:href="#svg_tall_wafers"></use>
	<use xlink:href="#svg_tall_muffin_top_swirl" class="svg__color--special-blue"></use>
	<use xlink:href="#svg_tall_sprinkles_single" class="svg__color--yellow-darker"></use>
	<use xlink:href="#svg_tall_flower"></use>
</svg>



<!-- <svg viewBox="0 0 450 600">
	<use xlink:href="#svg_cake" class="{{ flavour }}"></use>
	<use xlink:href="#svg_holder_{{ holder__type }}" class="{{ holder__colour }}"></use>

	{{ #type_tall }}
	    {{ #hasWafer }}<use xlink:href="#svg_tall_wafers"></use>{{ /hasWafer }}
		<use xlink:href="#svg_tall_muffin_top_{{ icing__type }}" class="svg__color--{{ icing__colour }}"></use>
		{{ #hasSprinkles }}<use xlink:href="#svg_tall_{{ sprinkles }}" class="svg__color--{{ sprinkles__colour }}"></use>{{ /hasSprinkles }}
		{{ #hasTopping }}<use xlink:href="#svg_tall_{{ topping }}"></use>{{ /hasTopping }}
	{{ /type_tall }}

	{{ #type_short }}
		<use xlink:href="#svg_tall_muffin_top_{{ icing__type }}" class="svg__color--{{ icing__colour }}"></use>
		{{ #hasCream }}<use xlink:href="#svg_short_icing_background"></use>{{ /hasCream }}
		{{ #hasSprinkles }}<use xlink:href="#svg_short_{{ sprinkles }}" class="svg__color--{{ sprinkles__colour }}"></use>{{ /hasSprinkles }}
		{{ #hasTopping }}<use xlink:href="#svg_short_{{ topping }}"></use>{{ /hasTopping }}
	{{ /type_short }}
		{{ #hasCream }}<use xlink:href="#svg_short_icing_foreground"></use>{{ /hasCream }}

</svg> -->