

<div>
	<h2>Update Cupcake</h2>

	<select id="flavour">
		<option selected disabled>Flavour</option>
	  	<option value="">vanilla</option>
      	<option value="">caramel-darker</option>
      	<option value="">chocolate-darker</option>
    </select>

    <input type="checkbox" name="wafer" value="true">Add Wafer
    <input type="checkbox" name="cream" value="false">Add Cream
 
    <select id="holder">
    	<option selected disabled>Holder</option>
	  	<option value="">dotted</option>
      	<option value="">striped</option>
    </select>

    <select id="holder_c">
    	<option selected disabled>Holder Colour</option>
	  	<option value="">yellow</option>
      	<option value="">red-lighter</option>
      	<option value="">purple</option>
      	<option value="">green</option>
      	<option value="">navy</option>
    </select>

    <select id="icing">
    	<option selected disabled>Icing Type</option>
	  	<option value="">smooth</option>
      	<option value="">run</option>
      	<option value="">flared</option>
      	<option value="">swirl</option>
    </select>

    <select id="icing_c">
    	<option selected disabled>Icing Colour</option>
	  	<option value="">special-vanilla</option>
      	<option value="">red</option>
      	<option value="">special-blue</option>
      	<option value="">brown</option>
    </select>

    <select id="sprinkle">
    	<option selected disabled>Sprinkle Type</option>
	  	<option value="">salt</option>
      	<option value="">salt_single</option>
      	<option value="">sprinkles</option>
      	<option value="">sprinkles_single</option>
    </select>

    <select id="sprinkle_c">
    	<option selected disabled>Sprinkle Colour</option>
	  	<option value="">yellow</option>
      	<option value="">pink</option>
      	<option value="">brown</option>
      	<option value="">green</option>
      	<option value="">svg__darker</option>
    </select>

    <select id="topping">
    	<option selected disabled>Topping</option>
	  	<option value="">cherry</option>
      	<option value="">strawberry</option>
      	<option value="">citrus</option>
      	<option value="">gumball</option>
      	<option value="">candle</option>
      	<option value="">heart</option>
      	<option value="">flower</option>
    </select>

    <button id="save">Save</button>
</div>