

<div>
	<h2>Update Cupcake</h2>
  <br>

  <!-- selected disabled -->

	<select id="flavour">
		<option>{{ cupcake.flavour }}</option>
    {{ #builder.flavour }}<option>{{ . }}</option>{{ /builder.flavour }}
  </select>

  <select id="holder_type">
    <option>{{ cupcake.holder_type }}</option>
    {{ #builder.holder_type }}<option>{{ . }}</option>{{ /builder.holder_type }}
  </select>

  <select id="holder_colour">
    <option>{{ cupcake.holder_colour }}</option>
    {{ #builder.holder_colour }}<option>{{ . }}</option>{{ /builder.holder_colour }}
  </select>
  
  ---

  <select id="icing_type">
  	<option>{{ cupcake.icing_type }}</option>
    {{ #builder.icing_type }}<option>{{ . }}</option>{{ /builder.icing_type }}
  </select>

  <select id="icing_colour">
  	<option>{{ cupcake.icing_colour }}</option>
    {{ #builder.icing_colour }}<option>{{ . }}</option>{{ /builder.icing_colour }}
  </select>

  <select id="sprinkles_type">
  	<option>{{ cupcake.sprinkles_type }}</option>
    {{ #builder.sprinkles_type }}<option>{{ . }}</option>{{ /builder.sprinkles_type }}
  </select>

  <select id="sprinkles_colour">
  	<option>{{ cupcake.sprinkles_colour }}</option>
    {{ #builder.sprinkles_colour }}<option>{{ . }}</option>{{ /builder.sprinkles_colour }}
  </select>

  --- <br>

  Optional :
  
  <span id="hasWafer" style="display: none;">
    <input type="checkbox" name="wafer" value="true" {{ #cupcake.hasWafer }}checked="true"{{ /cupcake.hasWafer }}>Add Wafer
  </span>
  
  <span id="hasCream"><input type="checkbox" name="cream" value="true" {{ #cupcake.hasCream }}checked="true"{{ /cupcake.hasCream }}>Add Cream</span>

  <select id="topping">
  	<option>{{ cupcake.topping }}</option>
    {{ #builder.topping }}<option>{{ . }}</option>{{ /builder.topping }}
  </select>

  <br>
  <button id="save">Save</button>
</div>